*{
    margin: 0;
    padding: 0;
    color: #1E2125;
}
body{
    background-color: #ecf0f3 !important;
}
nav{
    box-shadow: .01px 0px 20px #b3b8be;
    margin-bottom: 50px;
    font-family: Poppins;
    /* z-index: 999;
    position: fixed !important; */
}
nav.navbar{
    
    font-weight:600;
    padding: 20px 50px;
    background-color: #ECF0F3 !important;
}
header .navbar .navbar-nav .nav-link{
    color: #1E2125 !important;
}
.introduction{
    font-family: Poppins;

    border-bottom: 1px solid #1E2125;
    padding: 5rem 0 !important;
}
.row .col-5 .iamge{
    width: 100%;
    margin-top: 110px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #E4EAEE, white);
}
.iamge img{
    margin-top: -110px;
    width: 100%; 
    height: auto;
}
/* Right part of image  */
.inner{
    margin-bottom: 150px;
}
.inner span.subtitle{
    letter-spacing: 2px;
    margin-bottom: 200px;
}
.inner h1{
    font-family: Open Sans !important;
    font-weight: bold;
    font-size: 55px;
    letter-spacing: 1px;
}
.inner h1 span{
    font-family: Open Sans;
    color: #FF014F;
}
.inner div .description{
    letter-spacing: 1px;
    margin-top: 30px;
}
  /* icon */
.icon-share .left-icon span{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    display: block;
    margin-bottom: 20px;
}
.icon-share .left-icon ul li{
    
    display: inline-block;
    border-radius: 10px;
    margin: 5px;
}
.icon-share .left-icon ul li a{
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-image: linear-gradient(to right, #d0e1ec, white);
    border-radius: 6px;
    font-size: 18px;
    box-shadow: 1px 1px 5px #a8b2b8;
}
.icon-share .right-icon span{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    display: block;
    margin-bottom: 20px;
}
.icon-share .right-icon ul li{
    display: inline-block;
    border-radius: 10px;
    margin: 5px;
}
.icon-share .right-icon ul li a{
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-align: center;
    background-image: linear-gradient(to right, #d0e1ec, white);
    border-radius: 6px;
    font-size: 18px;
    box-shadow: 1px 1px 5px #a8b2b8;
}
/* features part start  */
.feature{
    border-bottom: 1px solid #1E2125;
    width: 100%;
}
.feature .subtitle {
    color:#FF014F;
    letter-spacing: 2px;
    display: block;
    line-height: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.feature .title{
    color: #1E2125;
    letter-spacing: 2px;
    font-size: 60px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 0;
}
.feature .card{
    border-radius: 10px;
    box-shadow: 1px 1px 5px #a8b2b8;
    background-image: linear-gradient(to right, #E4EAEE, white);
}

/* .feature .all-feature-box .row{
    
}
.feature .all-feature-box .row .col-3{
    border-radius: 10px;
    margin:  0 10px;
    background-image: linear-gradient(to right, #d0e1ec, white);
    border-radius: 6px;
    font-size: 18px;
    box-shadow: 1px 1px 5px #a8b2b8;
} */

  /* Portfolio part  */
  .portfolio{
      border-bottom: 1px solid #1E2125;
  }
  .portfolio .top .title{
      
      font-size: 45px;

  }
  .portfolio .top .subtitle{
      color: #f70445;
      text-transform: uppercase;
      letter-spacing: 2px;
  }
  .portfolio .row .img-box{
      overflow: hidden;
      border-radius: 10px;
  }
  .portfolio .row .img{
      border-radius: 10px;
      transform: scale(1);
  }
  /* .portfolio .row .img:hover{
      cursor: pointer;
      transform: scale(1.2);
  } */
  .portfolio .row .col-4 .card {
      border-radius: 10px;
      box-shadow: 1px 1px 5px #a8b2b8;
      background-image: linear-gradient(to right, #E4EAEE, white);
  }
  .resume .container{
      border-bottom: 1px solid #1E2125;
  }
  .resume .container .top .subtitle{
      color: #f70445;
      font-weight: 500;
  }
  .resume .container .top .title{
      font-size: 70px;
      font-weight: 600;
  }
  /* skill-name  */
  .resume .container .skill-name{

  }
  .resume .container .skill-name .nav .nav-item{
    
     border-radius: 5px;      
     margin-bottom: 5px;
     box-shadow: 1px 1px 5px #a8b2b8;
     background-image: linear-gradient(to right, #E4EAEE, white);

  }
  .resume .container .skill-name .nav .nav-item .nav-link{
    line-height: 65px;
    text-align: center;
    color: #1E2125;
    font-weight: 500;
  }
  .skill-item .education .row .col-6 .left-border{
      border-left: 4px solid #f70445;
      
  }
  .skill-item .education .row .col-6 .left-border .up-left-box{
    position: relative;
  }
  .skill-item .education .row .col-6 .left-border .up-left-box
  .box{
    background-image: linear-gradient(to right, #d7dde0, white);
    border-radius: 10px;
  }
  .skill-item .education .row .col-6 .left-border 
  .up-left-box .box::after{
      position: absolute;
      content: " ";
      width: 42px;
      height: 4px;
      background-color: #f70445;
      top: 10%;
      left: 7px;
  }
  
  .skill-item .education .row .col-6 .left-border 
  .up-left-box .box::before{
      position: absolute;
      content: " ";
      width: 20px;
      height: 20px;
      background-color: #ffffff;
      top: 7%;
      left: -2.1%;
      border-radius: 100%;
      border: 4px solid #f70445;
  }

  /* .skill-item .education .row .col-6 .left-border .up-left-box
  .box .upper-box. .up-left .april-fools .university{

  }
  .skill-item .education .row .col-6 .left-border .up-left-box
  .box{
    background-image: linear-gradient(to right, #d7dde0, white);
    border-radius: 10px;
  }
  .skill-item .education .row .col-6 .left-border .up-left-box
  .box .row{
      
      border-bottom: 1px solid #a8b2b8;
  } */