*{
    margin: 0;
    padding: 0;
    color: #1E2125;
}
body{
    background-color: #ecf0f3 !important;
}
nav{
    width: 100%;
    box-shadow: .01px 0px 20px #b3b8be;
    margin-bottom: 50px;
    font-family: Poppins;
    z-index: 999;
    position: fixed !important; 
}
nav.navbar{
    
    font-weight:600;
    padding: 20px 50px;
    background-color: #ECF0F3 !important;
}
header .navbar .navbar-nav .nav-link{
    color: #1E2125 !important;
}
.introduction{
    font-family: Poppins;

    border-bottom: 1px solid #1E2125;
    padding: 5rem 0 !important;
}
.row .col-5 .iamge{
    width: 100%;
    margin-top: 110px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #E4EAEE, white);
}
.iamge img{
    margin-top: -110px;
    width: 100%; 
    height: auto;
}
/* Right part of image  */
.inner{
    margin-bottom: 150px;
}
.inner span.subtitle{
    letter-spacing: 2px;
    margin-bottom: 200px;
}
.inner h1{
    font-family: Open Sans !important;
    font-weight: bold;
    font-size: 55px;
    letter-spacing: 1px;
}
.inner h1 span{
    font-family: Open Sans;
    color: #FF014F;
}
.inner div .description{
    letter-spacing: 1px;
    margin-top: 30px;
}
  /* icon */
.icon-share .left-icon span{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    display: block;
    margin-bottom: 20px;
}
.icon-share .left-icon ul li{
    
    display: inline-block;
    border-radius: 10px;
    margin: 5px;
}
.icon-share .left-icon ul li a{
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-image: linear-gradient(to right, #d0e1ec, white);
    border-radius: 6px;
    font-size: 18px;
    box-shadow: 1px 1px 5px #a8b2b8;
}
.icon-share .right-icon span{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    display: block;
    margin-bottom: 20px;
}
.icon-share .right-icon ul li{
    display: inline-block;
    border-radius: 10px;
    margin: 5px;
}
.icon-share .right-icon ul li a{
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-align: center;
    background-image: linear-gradient(to right, #d0e1ec, white);
    border-radius: 6px;
    font-size: 18px;
    box-shadow: 1px 1px 5px #a8b2b8;
}
/* features part start  */
.feature{
    border-bottom: 1px solid #1E2125;
    width: 100%;
}
.feature .subtitle {
    color:#FF014F;
    letter-spacing: 2px;
    display: block;
    line-height: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.feature .title{
    color: #1E2125;
    letter-spacing: 2px;
    font-size: 60px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 0;
}
.feature .card{
    border-radius: 10px;
    box-shadow: 1px 1px 5px #a8b2b8;
    background-image: linear-gradient(to right, #E4EAEE, white);
}

/* .feature .all-feature-box .row{
    
}
.feature .all-feature-box .row .col-3{
    border-radius: 10px;
    margin:  0 10px;
    background-image: linear-gradient(to right, #d0e1ec, white);
    border-radius: 6px;
    font-size: 18px;
    box-shadow: 1px 1px 5px #a8b2b8;
} */

  /* Portfolio part  */
  .portfolio{
      border-bottom: 1px solid #1E2125;
  }
  .portfolio .top .title{
      
      font-size: 45px;

  }
  .portfolio .top .subtitle{
      color: #f70445;
      text-transform: uppercase;
      letter-spacing: 2px;
  }
  .portfolio .row .img-box{
      overflow: hidden;
      border-radius: 10px;
  }
  .portfolio .row .img{
      border-radius: 10px;
      transform: scale(1);
  }
  /* .portfolio .row .img:hover{
      cursor: pointer;
      transform: scale(1.2);
  } */
  .portfolio .row .col-4 .card {
      border-radius: 10px;
      box-shadow: 1px 1px 5px #a8b2b8;
      background-image: linear-gradient(to right, #E4EAEE, white);
  }
  .resume .container-fluid{
      border-bottom: 1px solid #1E2125;
  }
  .resume .container-fluid .top .subtitle{
      color: #f70445;
      font-weight: 500;
  }
  .resume .container-fluid .top .title{
      font-size: 70px;
      font-weight: 600;
  }
  .textcolor{
      color: #f70445;
  }
  /* skill-name  */
  .resume .container-fluid .skill-name .nav .nav-item{
    
     border-radius: 5px;      
     margin-bottom: 5px;
     box-shadow: 1px 1px 5px #a8b2b8;
     background-image: linear-gradient(to right, #E4EAEE, white);

  }
  .resume .container-fluid .skill-name .nav .nav-item .nav-link{
    line-height: 65px;
    text-align: center;
    color: #1E2125;
    font-weight: 500;
  }
  .skill-item .education .row .col-6 .left-border{
      border-left: 4px solid #f70445;
      
  }
  .skill-item .education .row .col-6 .left-border .up-left-box{
    position: relative;
  }
  .skill-item .education .row .col-6 .left-border .up-left-box
  .box{
    background-image: linear-gradient(to right, #d7dde0, white);
    border-radius: 10px;
  }
  .skill-item .education .row .col-6 .left-border 
  .up-left-box .box::after{
      position: absolute;
      content: " ";
      width: 42px;
      height: 4px;
      background-color: #f70445;
      top: 10%;
      left: 7px;
  }
  
  .skill-item .education .row .col-6 .left-border 
  .up-left-box .box::before{
      position: absolute;
      content: " ";
      width: 20px;
      height: 20px;
      background-color: #ffffff;
      top: 6.7%;
      left: -2.1%;
      border-radius: 100%;
      border: 4px solid #f70445;
  }

  /* .skill-item .education .row .col-6 .left-border .up-left-box
  .box .upper-box. .up-left .april-fools .university{

  }
  .skill-item .education .row .col-6 .left-border .up-left-box
  .box{
    background-image: linear-gradient(to right, #d7dde0, white);
    border-radius: 10px;
  }
  .skill-item .education .row .col-6 .left-border .up-left-box
  .box .row{
      
      border-bottom: 1px solid #a8b2b8;
  } */
  .testimonial{
      border-bottom: 1px solid #1E2125;
  }
  .testimonial .container-fluid .testimonial-text h1{
    font-size: 60px;
    font-weight: bold;
  }

  .testimonial .container-fluid .test-box .row .col-5 .card{
      border-radius: 10px;
      background-image: linear-gradient(to right, #d7dde0, white);
      box-shadow: 1px 1px 5px #a8b2b8;
  }
  .testimonial .container-fluid .test-box .row .col-5 .card .img-box{
      border-radius: 10px;
  }
  .testimonial .container-fluid .test-box .row .col-5 .card .img-box img{
      border-radius: 10px;
  }
  /* right-part .testimonial */
  /* #quote{
      padding: 500px;
  } */
  #quote .icon{
      border: none;
      font-size: 110px;
  }
  #quote .icon-left{
      border-radius: 5px;
      padding: 12px 20px;
      border: none;
      font-size: 20px;
      margin-right: 5px;
      background-image: linear-gradient(to right, #d7dde0, white);
      box-shadow: 1px 1px 5px #a8b2b8;
  }
  
  #quote .icon-right{
    border-radius: 5px;
    padding: 12px 20px;
    border: none;
    font-size: 20px;
    margin-left: 5px;
    background-image: linear-gradient(to right, #d7dde0, white);
    box-shadow: 1px 1px 5px #a8b2b8;
}
#c5c5{
    background-image: linear-gradient(to right, #d7dde0, white);
    box-shadow: 1px 1px 15px #a8b2b8;
    border-radius: 10px;
    border: none;
}
#testimonial-border-bottom{
    border-bottom: 1px solid #1E2125;
}
#top-rt{
    text-align: center;
    
    font-size: 20px;
    padding: 10px;
    background: linear-gradient(to right, rgb(222, 227, 231), rgb(255, 255, 255));
    border-radius: 5px;
    display: inline;
    box-shadow: 1px 1px 15px #c7c9d3;

}
#top-rt i{
    color: goldenrod !important;
}
#test-left-part{
    border-radius: 10px;
    background: linear-gradient(to right, rgb(222, 227, 231), rgb(255, 255, 255));
}
#test-left-part .img-box{
    border-radius: 10px;
}
#test-left-part .img-box img{
    border-radius: 10px;
}
/* Clients part start  */
.container-fluid .clients  .row .col-12 h5{
    color: #f70445;
    letter-spacing: 2px;
}
.clients {
    
    border-bottom: 1px solid #1E2125;
}
.clients .container-fluid .row .col-12 h1{
    font-weight: bolder;
    font-size: 50px;
    letter-spacing: 2px;
}
#clients-left-item div{
    border-radius: 10px;
    background: linear-gradient(to right, rgb(222, 227, 231), rgb(255, 255, 255));
    box-shadow: 1px 1px 15px #c7c9d3;
}
#item-right .card{
    border-radius: 10px;
    background: linear-gradient(to right, rgb(222, 227, 231), rgb(255, 255, 255));
    box-shadow: 1px 1px 15px #c7c9d3;
}
#item-right .card .brand-img-box{
    border-bottom: 1px solid #7a828d;
    
}
/* Pricing part star  */

.pricing .row .col-5 h5{
    color: #f70445;
    letter-spacing: 2px;
}
.pricing .row .col-5 h1{
    font-weight: bolder;
    font-size: 50px;
}
/* right part pricing ? */
.pricing{
    border-bottom: 1px solid #1E2125;
}

#static div{
    
    border-radius: 10px;
    background: linear-gradient(to right, rgb(222, 227, 231), rgb(239, 241, 245));
    box-shadow: 1px 1px 15px #c7c9d3;
}
#elementor-box{
    border-radius: 10px;
    background: linear-gradient(to right, rgb(222, 227, 231), rgb(229, 231, 236));
    box-shadow: 1px 1px 15px #c7c9d3;
}
#elementor .col-8 h3{
    font-weight: bolder;
    font-size: 30px;    
}
#elementor .col-4 h5{
    color: #f70445;
    font-weight: bolder;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(222, 227, 231), rgb(229, 231, 236));
    box-shadow: 1px 1px 15px #adb8c7;
}
#elementor .text{
    font-weight: 500;
    letter-spacing: 2px;
}
#elementors-icon .col-6 i{
    color: #f70445;
}
.order-now h5{
    color: #f70445;
    font-weight: 500;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(222, 227, 231), rgb(229, 231, 236));
    box-shadow: 1px 1px 15px #adb8c7;
}
.order-now h5 i{
    color: #FF014F;
}
.blog{
    letter-spacing: 2px;
    text-align: center;
    border-bottom: 1px solid #1E2125;
}
.blog h5{
    color: #f70445;
}
.blog h1{
    font-size: 50px;
    font-weight: bolder;
}
.blog .card {
    border-radius: 10px;
    background: linear-gradient(to right, rgb(222, 227, 231), rgb(229, 231, 236));
    box-shadow: 1px 1px 15px #adb8c7;
}
.blog .card .img-box{
    overflow: hidden;
    border-radius: 10px;
}
.blog .card .img-box img{
    border-radius: 10px;
    transform: scale(1);
}
.blog .card .img-box img:hover{
    transform: scale(1.1);
    transition: all .3s linear;
    cursor: pointer;
}
.blog .card .card-body .row p{
    font-size: 22px;
    font-weight: 500;
}
/* Contact part start  */
.contact{
    text-align: center;
    border-bottom: 1px solid #1E2125;
}
.contact h5{
    color: #FF014F;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contact h1{
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 50px;
}
.contact .main-box .row .col-5 .card{
    border-radius: 10px;
    background: linear-gradient(to right, rgb(222, 227, 231), rgb(229, 231, 236));
    box-shadow: 1px 1px 15px #adb8c7;
}
.contact .main-box .row .col-5 .card .img-box{
    border-radius: 10px;
}
.contact .main-box .row .col-5 .card .img-box img{
    border-radius: 10px;
}

.elementors-icon ul li{
    
    display: inline-block;
    border-radius: 10px;
    margin: 5px;
}
.elementors-icon  ul li i{
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-image: linear-gradient(to right, #d0e1ec, white);
    border-radius: 6px;
    font-size: 24px;
    box-shadow: 1px 1px 5px #a8b2b8;
}
.elementors-icon span{
    font-weight: bold;
    
}
.form-box{
    background-image: linear-gradient(to right, #E3E9ED, #F2F5F6);
    border-radius: 10px;
    box-shadow: 1px 1px 5px #a8b2b8;
}